.hi2pdf-button-container {
	width:100%;
	float:left;
	padding-top: 20px;
	padding-bottom: 40px;
}

a.hi2pdf-button {
	display: inline-block;
}

a.hi2pdf-button:link, a.hi2pdf-button:visited {

}

a.hi2pdf-button:hover {

}

a.hi2pdf-button span.hi2pdf-button-icon {
	font-size:140%;
	margin-right:5px;
}

.hi2pdf-content {}
